
<form action="/output" method="post">
  <div class="form-group">
    <label for="length">Word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Find!</button>
</form>
